*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Fonts */
  --ff-prmy: "Commissioner", sans-serif;

  /* Font Size */
  --fs-prmy: 1rem;
  --fs-sec: 1.25rem;
  --fs-tri: 2.25rem;

  /* font weights */
  --fw-prmy: 400;
  --fw-sec: 500;
  --fw-tri: 700;

  /* Colours */
  --col-Prmy-mod: hsl(176, 50%, 47%);
  --col-Prmy-dark: hsl(176, 72%, 28%);
  --col-Neu-black: hsl(0, 0%, 0%);
  --col-Neu-dark: hsl(0, 0%, 48%);

  --background-col: #f9f9f9;

  --background-col-sec: #ffffff;

  /* Font Colours */
  --fcol-prmy: #ffffff;
  --fcol-sec: #000000;
  --fcol-tri: #8b8b8b;

  /* other */

  --boxShadow-prmy: 0 3px 6px 1px rgba(23, 23, 23, 0.06);
  --letterSpacingBody: 0.06rem;
  --lineHeight: 1.75rem;
}

.Funding--site {
  width: 100%;

  font-size: var(--fs-prmy);
  font-family: var(--ff-prmy);
  font-weight: var(--fw-prmy);
  line-height: var(--lineHeight);

  color: var(--fcol-tri);
  background-color: var(--background-col);
}

.hide {
  display: none;
}

.mainContent {
  max-width: 1400px;
  min-width: 350px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 3rem;
  width: 100%;

  transform: translateY(-250px);
}

.mainPageComp {
  margin: 0 auto;
  margin-top: 5rem;
  width: 80%;
  background-color: var(--background-col-sec);
  box-shadow: var(--boxShadow-prmy);
  padding: 2rem;
  border-radius: 10px;
}

.itemHeaderComp {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.itemHeaderComp__Img {
  transform: translateY(-100%);
  width: 7%;
}

.itemHeader__Title {
  font-size: var(--fs-tri);
  font-weight: var(--fw-tri);
  color: var(--fcol-sec);
}

.itemHeaderBtnContainer {
  display: flex;
  justify-content: space-around;
}

.FundComp {
  display: flex;
  justify-content: space-around;
}

.FundItems {
  padding: 0.75rem;
}

.FundtItems__Header {
  font-size: var(--fs-tri);
  font-weight: var(--fw-tri);
  color: var(--fcol-sec);
  text-align: center;

  margin-bottom: 1rem;
}

.fundProgessContainer {
  width: 100%;
  height: 25px;

  margin-top: 2rem;

  background-color: var(--fcol-tri);
  border-radius: 100px;
}

.fundProgessBar {
  width: var(--widthProgess);
  height: 25px;
  background-color: var(--col-Prmy-mod);
  border-radius: 100px;
}

.AboutSection {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  margin-bottom: 5rem;
}

.AboutSection__Title {
  font-size: var(--fs-sec);
  font-weight: var(--fw-tri);
  color: var(--fcol-sec);
}

.RewardCompContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.Rewards {
  width: 80%;
  border: 1px solid var(--col-Neu-black);
  border-radius: 10px;
  box-shadow: var(--boxShadow);

  padding: 2rem;
}

.RewardsHeader {
  display: flex;
  justify-content: space-between;
}

.Rewards__Descri {
  margin: 2rem 0;
}
.RewardsHeader__Name {
  font-weight: var(--fw-tri);
  color: var(--fcol-sec);
}

.RewardsSelectors__Name--Bold {
  font-size: var(--fs-tri);
  font-weight: var(--fw-tri);
  color: var(--fcol-sec);
}

.RewardsHeader__Amount {
  color: var(--col-Prmy-mod);
}

.RewardsSelectors {
  display: flex;
  justify-content: space-between;
}

.showModalContainerBackground {
  width: 100vw;
  height: 100vh;
  background-color: black;

  display: grid;
  place-items: center;

  position: absolute;
  top: 0;
  left: 0;
}

.showModal {
  width: 100%;
  max-width: 900px;
  min-width: 350px;

  padding: 2rem;
  margin: 0 auto;
  background-color: var(--background-col-sec);

  box-shadow: var(--boxShadow-prmy);
  display: flex;
  flex-direction: column;
}

.showModal__close {
  align-self: flex-end;
  font-size: var(--fs-sec);

  cursor: pointer;
}

.showModal__Title {
  font-size: var(--fs-sec);
  font-weight: var(--fw-tri);
  color: var(--fcol-sec);
}

.ModalPopContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.ShowModalPopContainer {
  border: 1px solid var(--col-Neu-dark);
  border-radius: 10px;
}

.ShowModalPop,
.EnterPledge {
  display: flex;
  gap: 1.25rem;

  padding: 2rem;
}

.ShowModalPop {
  cursor: pointer;
}

.EnterPledge {
  justify-content: space-between;
  align-items: baseline;
  border-top: 1px solid var(--col-Neu-dark);
}

.EnterPledge__fieldCon {
  display: flex;
  /* gap: 1rem; */
  justify-content: space-between;
}

.EnterPledge__FieldText {
  border: 1px solid var(--col-Neu-dark);

  padding: 2em 3em;

  border-radius: 4em;
  width: 30%;
}

.ShowModalPop__Circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;

  border: 1px solid var(--col-Neu-dark);
  flex-shrink: 0;
  display: grid;
  place-items: center;
}

.ShowModalPop__Circle--fill {
  height: 20px;
  width: 20px;
  border-radius: 50%;

  background-color: var(--col-Prmy-mod);
}

.ShowModalPop__NameCon {
  display: flex;
  justify-content: space-between;
}

.ShowModalPop__Name {
  color: var(--fcol-sec);
  font-weight: var(--fw-tri);
}

.ShowModalPop__Name span {
  color: var(--col-Prmy-mod);
  margin-left: 1.25rem;
  font-weight: var(--fw-sec);
}

.ShowModal__PledgeRemain span {
  font-weight: var(--fw-tri);
  color: var(--fcol-sec);
}

@media screen and (max-width: 800px) {
  .FundComp {
    flex-direction: column;
    align-items: space-around;
  }

  .FundItems {
    text-align: center;
  }
  .mainPageComp {
    padding: 0.75rem;
  }
  .RewardCompContainer {
    width: 100%;
  }
  .RewardsSelectors,
  .RewardsHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .EnterPledge {
    flex-direction: column;
  }
}
